{{#each this}}
          <li class="hero__item" data-letter="{{this}}">{{this}}</li>
          {{!-- <li class="hero__item" data-letter=${i}>B</li>
          <li class="hero__item" data-letter=${array[i]}>C</li> --}}
{{/each}}
