<div class="modal__bg">
  <div class="modal__annoy">
    <span class="close__btn">&times;</span>
    <img class='modal__img-soldier' alt="soldier ukraine army" src='./images/soldier.png'>
    <p class='modal-annoy__text'>Support the Armed Forces of Ukraine
      <img class='modal__img-heart' src='./images/heart.png' alt="ukrainian heart">
    </p>
    <a class='modal-annoy__link' href='https://bank.gov.ua/ua/about/support-the-armed-forces' target='_blank'>click on
      the link</a>
  </div>
</div>