<!-- <div class='backdrop__cocktail visually-hidden' data-bg-ingredient>
  <div class='modal__ingredient'>
    <div class='modal__wrap'>
      <div class='ingredient__wrap'>
          <ul class='characteristic'>
            <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Type:</span> Bitters</li>
            <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Country of origin:</span>
              Italy
            </li>
            <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Alcohol by volume:</span>
              20.5–28.5%
            </li>
            <li class='ingredient__item'><span class='ingredient__accent'>&#9733</span><span> Flavour:</span> Bitter,
              spicy and sweet
            </li>
          </ul>
      </div>
      <button type='button' class='btn--close' data-modal-close-ingredient>
        <svg width='32' height='32'>
          <use href='./images/icons.svg#icon-close'></use>
        </svg>
      </button>
    </div>
  <div class='cocktail__modal-btn'>
    <button type='button' class='modal__btn' data-add-ingredient>Add to favorite</button>
    <button type='button' class='modal__btn visually-hidden' data-remove-ingredient>Remove from favorite</button>
  </div>
  </div>
</div> -->