<div class='backdrop-team visually-hidden js-modal-team'>
  <div class='modal-team'>
    <button type='button' class='modal__team-close-btn js-modal-team-close'>
      <svg class='modal__close-bth-img' width='32' height='32'>
        <use href='./images/icons.svg#icon-close'></use>
      </svg>
    </button>
    <div class='team__wrap'>
      <p class='team__title title'>Our Team</p>
      <ul class='team__list card-set js-open-modal-cocktail'>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-5.png'
            alt='boy'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/H-Maksym' target='_blank'>Maksim Holovachuk</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-4.png'
            alt='girl'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/DariaIliuchenko' target='_blank'>Daria Iluchenko</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-3.png'
            alt='boy'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/SalenkoDmytro' target='_blank'>Dmytro Salenko</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-1.png'
            alt='girl'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/Alena-Abharian' target='_blank'>Alena Abharian</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-6.png'
            alt='boy'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/DenysKhm' target='_blank'>Denys Khmelevskyi</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect-2.png'
            alt='girl'
            loading='lazy'
          />
          <a class='workers__title' href='https://github.com/beevine' target='_blank'>Bohdana Lozenko</a>
        </li>
        <li class='team__list-item '>
          <img
            class='team__img'
            src='./images/team/Intersect.png'
            alt='boy'
            loading='lazy'
          />
          <a class='workers__title' href='#' target='_blank'>Viktor Hirzhev</a>
        </li>

      </ul>
    </div>
  </div>
</div>